body{
  background-color: #f4f9fd;
}
/*****************************************/
.header {
    padding: 80px; /* some padding */
    text-align: center; /* center the text */
    background: #003e29; /* green background */
    color: palegreen; /* white text color */
}

  /* Increase the font size of the <h1> element */
.header h1 {
    font-size: 40px;
}

/*****************************************/
.footer {
    padding: 20px; /* Some padding */
    text-align: center; /* Center text*/
    background: #afafaf; /* Grey background */
}