.ChessBoard {
    border-spacing: 0;
    border-collapse: collapse;
}
.ChessBoard th {
    padding: .5em;
}
.ChessBoard td {
    border: 1px solid;
    width: 2em;
    height: 2em;
}
.ChessBoard .light{
    background: #eee;
}
.ChessBoard .dark{
    background: #000;
}